spring:
  security:
    oauth2:
      client:
        registration:
          auth0:
            client-id: <YOUR auth0 clientID>
            client-secret: <YOUR auth0 client secret>
            scope:
              - openid
              - profile
              - email
        provider:
          auth0:
            # trailing slash is important!
            issuer-uri: <YOUR INETENT>