<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="col-span-12 mt-8" th:fragment="active-tickets">
    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Active tickets
        </h2>
    </div>
    <div class="mt-5">
        <div class="intro-y">
            <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-md overflow-hidden">
                    <img alt="airline" th:src="@{/images/profile-1.jpg}">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">Russell Crowe</div>
                    <div class="text-slate-500 text-xs mt-0.5">3 June 2020</div>
                </div>
                <a class="py-1 px-2 rounded-full text-xs bg-red-500 text-white cursor-pointer font-medium"
                   href="">Cancel</a>
            </div>
        </div>
        <div class="intro-y">
            <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-md overflow-hidden">
                    <img alt="airline" th:src="@{/images/profile-1.jpg}">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">John Travolta</div>
                    <div class="text-slate-500 text-xs mt-0.5">18 October 2022</div>
                </div>
                <a class="py-1 px-2 rounded-full text-xs bg-red-500 text-white cursor-pointer font-medium"
                   href="">Cancel</a>
            </div>
        </div>
        <div class="intro-y">
            <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-md overflow-hidden">
                    <img alt="airline" th:src="@{/images/profile-1.jpg}">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">Tom Cruise</div>
                    <div class="text-slate-500 text-xs mt-0.5">5 September 2020</div>
                </div>
                <a class="py-1 px-2 rounded-full text-xs bg-red-500 text-white cursor-pointer font-medium"
                   href="">Cancel</a>
            </div>
        </div>
        <a href=""
           class="intro-y w-full block text-center rounded-md py-4 border border-dotted border-slate-400 dark:border-darkmode-300 text-slate-500">View
            All</a>
    </div>
</div>

</html>