<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="col-span-12 md:col-span-6 xl:col-span-4 2xl:col-span-12 mt-3" th:fragment="recent-activities">
    <div class="intro-x flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Recent Activities
        </h2>
        <a href="" class="ml-auto text-primary truncate">Show More</a>
    </div>
    <div class="mt-5 relative before:block before:absolute before:w-px before:h-[85%] before:bg-slate-200 before:dark:bg-darkmode-400 before:ml-5 before:mt-5">
        <div class="intro-x relative flex items-center mb-3">
            <div class="before:block before:absolute before:w-20 before:h-px before:bg-slate-200 before:dark:bg-darkmode-400 before:mt-5 before:ml-5">
                <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="prifle pic 1"
                         th:src="@{/images/profile-1.jpg}">
                </div>
            </div>
            <div class="box px-5 py-3 ml-4 flex-1 zoom-in">
                <div class="flex items-center">
                    <div class="font-medium">Al Pacino</div>
                    <div class="text-xs text-slate-500 ml-auto">07:00 PM</div>
                </div>
                <div class="text-slate-500 mt-1">Has joined the team</div>
            </div>
        </div>
        <div class="intro-x relative flex items-center mb-3">
            <div class="before:block before:absolute before:w-20 before:h-px before:bg-slate-200 before:dark:bg-darkmode-400 before:mt-5 before:ml-5">
                <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="prifle pic 1"
                         th:src="@{/images/profile-1.jpg}">
                </div>
            </div>
            <div class="box px-5 py-3 ml-4 flex-1 zoom-in">
                <div class="flex items-center">
                    <div class="font-medium">Tom Cruise</div>
                    <div class="text-xs text-slate-500 ml-auto">07:00 PM</div>
                </div>
                <div class="text-slate-500">
                    <div class="mt-1">Added 3 new photos</div>
                    <div class="flex mt-2">
                        <div class="tooltip w-8 h-8 image-fit mr-1 zoom-in"
                             title="Samsung Galaxy S20 Ultra">
                            <img alt="prifle pic 1" class="rounded-md border border-white"
                                 th:src="@{/images/profile-1.jpg}">
                        </div>
                        <div class="tooltip w-8 h-8 image-fit mr-1 zoom-in"
                             title="Oppo Find X2 Pro">
                            <img alt="prifle pic 1" class="rounded-md border border-white"
                                 th:src="@{/images/profile-1.jpg}">
                        </div>
                        <div class="tooltip w-8 h-8 image-fit mr-1 zoom-in"
                             title="Nike Tanjun">
                            <img alt="prifle pic 1" class="rounded-md border border-white"
                                 th:src="@{/images/profile-1.jpg}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-x text-slate-500 text-xs text-center my-4">12 November</div>
        <div class="intro-x relative flex items-center mb-3">
            <div class="before:block before:absolute before:w-20 before:h-px before:bg-slate-200 before:dark:bg-darkmode-400 before:mt-5 before:ml-5">
                <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="prifle pic 1"
                         th:src="@{/images/profile-1.jpg}">
                </div>
            </div>
            <div class="box px-5 py-3 ml-4 flex-1 zoom-in">
                <div class="flex items-center">
                    <div class="font-medium">Johnny Depp</div>
                    <div class="text-xs text-slate-500 ml-auto">07:00 PM</div>
                </div>
                <div class="text-slate-500 mt-1">Has changed
                    <a class="text-primary"
                       href="">Sony A7 III
                    </a> price and description
                </div>
            </div>
        </div>
        <div class="intro-x relative flex items-center mb-3">
            <div class="before:block before:absolute before:w-20 before:h-px before:bg-slate-200 before:dark:bg-darkmode-400 before:mt-5 before:ml-5">
                <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="prifle pic 1"
                         th:src="@{/images/profile-1.jpg}">
                </div>
            </div>
            <div class="box px-5 py-3 ml-4 flex-1 zoom-in">
                <div class="flex items-center">
                    <div class="font-medium">Al Pacino</div>
                    <div class="text-xs text-slate-500 ml-auto">07:00 PM</div>
                </div>
                <div class="text-slate-500 mt-1">Has changed
                    <a class="text-primary"
                       href="">Samsung Q90 QLED TV</a> description
                </div>
            </div>
        </div>
    </div>
</div>
</html>