<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
</head>
<body>


<div class="mx-6 mb-20" th:fragment="carousel">
    <div class="tiny-slider">
        <div class="w-full h-96 px-2">
            <div class="h-full image-fit rounded-md overflow-hidden">
                <img alt="Ad1"
                     src="https://images.unsplash.com/photo-1544427920-c49ccfb85579?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1422&q=80"/>
            </div>
        </div>
        <div class="w-full h-96 px-2">
            <div class="h-full image-fit rounded-md overflow-hidden">
                <img alt="Ad2"
                     src="https://images.unsplash.com/photo-1544144433-d50aff500b91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>